body{
    margin: 0px;
    padding: 0px;
 
}

section {
    padding: 20px 0;
}

nav{
    background: #800080;  
    background: -webkit-linear-gradient(to right, #f8c8d0, #800080);  
    background: linear-gradient(to right, #f6a7b4, #800080); 
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li{
    display: inline;
    align-items: center;
    margin-right: 20px;
}

.logo {
    width: 70px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.photos {
    display: flex;
    justify-content:center;
}

.photos img {
    max-height: 250px;
}

figure{
    text-align: center;
    margin: 20px;
} 

form{
    background: #800080; 
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  
    background: linear-gradient(to right, #ffc0cb, #800080); 
    margin: 0 auto;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.formulario label {
    color: white;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.formulario input, textarea {
    width: 200px;
}

.validacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.validacion img{
    width: 100%;
    height: auto;
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease;
}
@media (max-width: 1160px) {
    .photos img {
        height: 150px;
    }

    .validacion img{
       max-height: 200%;
    }
}

@media (max-width: 722px) {

    .photos {
        flex-direction: column;
    }

    .photos img {
        width: 100%;
        height: auto;
        max-height: none;
    }

    .home {
        flex-direction: column;
        align-items: center;
    }

    .home figure {
        width: 80%;
    }
    .validacion{
        max-width: 200%;
      

    }
}
